<app-cartao-visita
nome="Carolina Diniz"
cargo="Desenvolvedor(a)"
empresa="Luta pela Paz"
telefone="(21) 98765-4321"
email="caroldinizc21@gmail.com"
></app-cartao-visita>

<app-cartao-visita
  nome="João Silva"
  cargo="Desenvolvedor Front-End"
  empresa="Empresa A"
  telefone="(11) 99999-9999"
  email="joao.silva@empresaa.com"
></app-cartao-visita>

<app-cartao-visita
  nome="Maria Santos"
  cargo="Designer UI/UX"
  empresa="Empresa B"
  telefone="(21) 88888-8888"
  email="maria.santos@empresab.com"
></app-cartao-visita>
