<h1>Formulário</h1>
<form>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>Obrigatório*</mat-hint>
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Por favor, insira um email válido</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email é <strong>obrigatório</strong></mat-error>
    }
  </mat-form-field>
</form>
