<div class="header-container">
  <h2>Aula 11 - Componente Avançados em Angular</h2>
  <p>Clique nos botões abaixo para ser redirecionado</p>
  <button mat-button color="primary" [routerLink]="['datapicker']">Datapicker</button>
  <button mat-button color="primary" [routerLink]="['diretivas']">Diretivas</button>
  <button mat-button color="primary" [routerLink]="['janelas-modais']">Janelas Modais</button>
  <button mat-button color="primary" [routerLink]="['tabela-produtos']">Tabela Produtos</button>
</div>
<router-outlet></router-outlet>
